<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sergey_kost.diploma.diplomaproject">

    <!-- Permissions for system properties changing! -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Silent mode -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <!-- Get a sound to microphone -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Make a call -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Send SMS -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- Wi-fi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Alarm clock -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HelpActivity" />
    </application>

</manifest>